/* grey */
/* background color: #F0F0F4 */
/* box shadow mobile nav and sidebar: rgb(171 169 169) */
/* box shadow collections and buttons: rgb(226 226 226) */
/* paper */
/* background color: #f9f5f1 */
/* box shadow mobile nav and sidebar: #d0c8c0 */
/* box shadow collections and buttons: #eae5e0 */

body {
  background-color: #f9f5f1;
  font-size: 18px;
  font-family: Avenir;
  color: #101010;
  height: 100vh;
  margin: 10px;
  /* white-space: pre-line; */
}

[contenteditable] {
  outline: 0px solid transparent;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* mobile style */
.mobile {
  position: fixed;
  bottom: 0;
  top: 0;
  background-color: #f9f5f1;
  width: -webkit-fill-available;
  z-index: 1;
}

.mobile > .navigation {
  padding: 50px;
}

.navigation-container.mobile {
  left: -105vw;
  transition: left 1s;
  border-radius: 10px;
  box-shadow:  0px 0px 7px #d0c8c0;
}

.navigation-mobile-active {
  left: -2vw !important;
}

.sidepage-container.mobile {
  padding: 10px;
  right: -99vw;
  transition: right 1s;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #d0c8c0;
}

.sidepage-mobile-active {
  right: -2vw !important;
}

.mobile > .sidepage {
  position: absolute;
}

/* navigation style */

.navigation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 150px;
}

.button {
  margin: 4px 0px;
  border-radius: 0px 10px 10px 0px;
  padding: 4px 20px 4px 10px;
  font-size: 14px;
  color: #555555;
}

.highlighted {
  box-shadow: 0px 0px 7px #eae5e0;
  background-color: #fffefc;
  font-weight: 500;
  color: #101010;
  border-left: 3px solid #dc3f40;
}

.plus {
  font-weight: 800;
}

/* page styles */

.page {
  margin: 10px 40px;
  flex: 1;
}

.pagetitle {
  font-size: 48px;
  margin: 30px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
}

.header-button {
  box-shadow: 0px 0px 7px #eae5e0;
  background-color: #fffefc;
  margin: 4px 0px;
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  color: #555555;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button span {
  padding: 0px 10px;
}

.add-collection-button {
  margin-left: auto;
  margin-right: 6px;
}

.sidebar-button {
  margin-left: 6px;
}

.sidepage-container {
  flex: 1;
}

.sidepage {
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  right: 0;
}

.sidepage:after, .page:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}

/* .pagetitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  vertical-align: bottom;
  width: 100%;
  margin-left: 20px;
  border-top: 3px solid #101010;
} */

/* collection styles */

.collection {
  background-color: #fffefc;
  margin: 40px 0px;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #eae5e0;
}

.collection:first-child {
  margin-top: 20px;
}

/* bullet style */

.bullet {
  display: flex;
  align-items: flex-start;
}

.bullet-style {
  display: flex;
  align-items: center;
  align-self: normal;
  justify-content: center;
  width: 24px;
}

.bullet-style-todo {
  font-size: 2px;
  /* transform: translateY(95%); */
}

.bullet-style-done {
  font-size: 14px;
  /* transform: translateY(15%); */
  color: rgb(185, 185, 185);
}

#done > .bullet-text, #migrate > .bullet-text, #future > .bullet-text {
  color: rgb(185, 185, 185);
}

.bullet-style-note {
  font-size: 10px;
  /* transform: translateY(40%); */
}

.bullet-style-migrate {
  font-size: 14px;
  /* transform: translateY(10%); */
  color: rgb(185, 185, 185);
}

.bullet-style-future {
  font-size: 14px;
  /* transform: translateY(10%); */
  color: rgb(185, 185, 185);
}

#h1 > .bullet-style, #h2 > .bullet-style {
  width: 0px;
}

#h1 > .bullet-text {
  font-size: 36px;
  font-weight: 500;
  padding: 30px 4px 10px;
}

#h2 > .bullet-text {
  font-size: 24px;
  font-weight: 600;
  padding: 15px 5px 5px;
}

.collection > #h1:first-child > .bullet-text, .collection > #h2:first-child > .bullet-text {
  padding-top: 0px
}

.bullet-text {
  display: flex;
  flex: 1 1 0px;
  padding-left: 4px
}

.bullet-style + .bullet-text {
  padding-left: 0px;
}
