body {
  background-color: #F0F0F4;
  font-size: 18px;
  font-family: Avenir;
  color: #101010;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#app {
  display: flex;
  flex-direction: row;
}

/* navigation style */

.navigation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 150px;
}

.button {
  margin: 4px 0px;
  border-radius: 0px 10px 10px 0px;
  padding: 4px 20px 4px 10px;
  font-size: 14px;
  color: #555555;
}

.highlighted {
  box-shadow: 0px 0px 7px rgb(226, 226, 226);
  background-color: #fff;
  font-weight: 500;
  color: #101010;
}

.plus {
  font-weight: 800;
}

/* page styles */

.page {
  margin: 10px 40px;
  flex: 1;
}

.pagetitle {
  font-size: 48px;
  margin: 10px 0px;
  /* position: relative;
  overflow: hidden; */
}

/* .pagetitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  vertical-align: bottom;
  width: 100%;
  margin-left: 20px;
  border-top: 3px solid #101010;
} */

/* collection styles */

.collection {
  background-color: #fff;
  margin: 40px 0px;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgb(226, 226, 226);
}

.collection:first-child {
  margin-top: 20px;
}

/* bullet style */

.bullet {
  display: flex;
  align-items: flex-start;
}

.bullet-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.bullet-style-todo {
  font-size: 2px;
  transform: translateY(95%);
}

.bullet-style-done {
  font-size: 14px;
  transform: translateY(15%);
  color: rgb(185, 185, 185);
}

#done + div {
  color: rgb(185, 185, 185);
}

.bullet-style-note {
  font-size: 10px;
  transform: translateY(40%);
}

.bullet-style-migrate {
  font-size: 14px;
  transform: translateY(6%);
}

.bullet-style-future {
  font-size: 14px;
  transform: translateY(6%);
}

#heading {
  width: 0px;
}

#heading + div {
  font-size: 24px;
  padding: 16px 4px;
}

.bullet-text {
  display: flex;
  flex: 1 1 0px;
}
